
.container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.input__container {
  display: flex;
  justify-content: center;
}

.count__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  padding-right: 30px;

}

.counter__text {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  padding: 0 10px;
  border-radius: 10px;
  border: solid 1px rgb(0, 0, 0);
}
.input {
  word-wrap: break-word;
  width: 600px;
  height: 150px;
}
.sort__button {
  background-color: rgb(134, 57, 241);
  color: rgb(255, 255, 255);
  padding: 5px 10px;
  border-radius: 5px;
  margin-bottom: 20px;

}

.sort__button:hover {
  color:rgb(180, 180, 180);

}


.output__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.output {
  width: 600px;
  height: 150px;

}

.copy__button {
  background-color: rgb(134, 57, 241);
  color: rgb(255, 255, 255);
  margin-top: 20px;
  padding: 5px 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.copy__button:hover {
  color:rgb(180, 180, 180);
}